body{
    background-size: cover;
    background-position: center;
}

.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

canvas{
    box-shadow: 10px 10px 10px grey;
    border-radius: 20px;
}